      <div class="container center">
        <div class="Profile Box">
          <img src="{{user.profile_picture}}" alt="{{user.full_name}}"><br>
          <h1>Welcome {{user.username}}</h1>
          <h2>Name: {{user.full_name}}</h2>
          <h2>Website: {{user.website}}</h2>
          <h2>Bio: {{user.bio}}</h2>
        </div>
      </div>
    </div>
